<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OpenCover.UI.OpenCoverUISettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OpenCover.UI.OpenCoverUISettings>
            <setting name="NUnitPath" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenCoverPath" serializeAs="String">
              <value />
            </setting>
            <setting name="XUnitPath" serializeAs="String">
                <value />
            </setting>
        </OpenCover.UI.OpenCoverUISettings>
    </userSettings>
</configuration>